html,
body {
	height: 100%;
	min-width: 580px;
	margin: 0;
	padding: 0;
	min-width:580px;
}

body {
	position: relative;
}

#banner {
	width: 100%;
	min-height: 4em;
	padding-left: 1em;
	margin-bottom: 1.5em;
	background-color: grey;
	border-style:none none groove none;
	border-width:20px;
}

.center-container {
	width: 100%;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.prof-item {
	margin-left: auto;
    margin-right: auto;
    padding-left: 200px;
    margin-top: 5px;
    float: top;
}

.modal-dialog {
	min-width: 550px;
}





