#login-controls,
#logout-controls {
    position: absolute;
    top: 1em;
    right: 2em;
}

#login-controls button,
#logout-controls button {
    margin-left: 1em;
}

.login-form-label {
    text-align: right;
}

.login-form-input {
    margin: 0.3em 0;
}

.login-form-input .dropdown-menu {
    height: auto;
    max-height: 15em;
    overflow-x: hidden;
}

.form-error-message {
    font-weight: 600;
    color: red;
    text-align: center;
    margin-top: 0.5em;
}

.form-footer-message {
    margin-top: 1em;
}

#profpicholder {
  display: flex;
  justify-content: center;
}
