<!-- Controls before logging in -->
<div id="login-controls" ng-hide="$ctrl.isLoggedIn()">
    <button type="button" class="btn btn-primary"
    	    ng-click="$ctrl.isRegisterMode = false; $ctrl.open('login')">Login</button>

    <button type="button" class="btn btn-primary"
    		ng-click="$ctrl.isRegisterMode = true; $ctrl.open('register')">Register</button>
</div>

<!-- Controls after logging in -->
<div id="logout-controls" ng-show="$ctrl.isLoggedIn()">
	<span>Logged in as {{$ctrl.currentUser().username}}</span>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.logout()">Logout</button>
</div>
