<div id="scan-button" class="center-container">
    <a class="btn btn-lg btn-primary center"
       ng-show="$ctrl.isLoggedIn()" href="#!/scan">Scan Recyclables</a>
</div>

<!-- display controls -->
<div id="standings-controls" class="row flex-items-xs-middle">

    <!-- data source selection (e.g. by individual/dorm) -->
    <span class="dropdown-label">Scores For</span>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            {{$ctrl.dataSource}}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" ng-repeat="item in $ctrl.dataSources"
               ng-click="$ctrl.dataSource = item; $ctrl.invalidateChart()" href>{{item}}</a>
        </div>
    </div>

    <!-- dorm selection (if data source is Individuals) -->
    <div ng-show="$ctrl.dataSource == 'Individuals'" class="row flex-items-xs-middle">
        <span class="dropdown-label">In</span>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                {{$ctrl.dorm}}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" ng-repeat="item in $ctrl.dorms"
                   ng-click="$ctrl.dorm = item; $ctrl.invalidateChart()" href>{{item}}</a>
            </div>
        </div>
    </div>

    <!-- order-by selection -->
    <span class="dropdown-label">Ordered By</span>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            {{$ctrl.orderBy}}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" ng-repeat="item in $ctrl.orderBys"
               ng-click="$ctrl.orderBy = item; $ctrl.invalidateChart()" href>{{item}}</a>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="" ng-model="$ctrl.orderByIsReversed" ng-change="$ctrl.invalidateChart()"/>
            in reverse
        </label>
    </div>

</div>

<!-- chart -->
<div id="standings-chart-container">
    <canvas id="standings-chart" class="chart chart-horizontal-bar" height="800px"
            chart-data="$ctrl.chartData" chart-labels="$ctrl.chartLabels"
            chart-series="$ctrl.chartSeries" chart-options="$ctrl.chartOptions"></canvas>
</div>
